* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
}
/* **********header style********** */
.header {
  width: 100%;
  height: 94px;
  background: #562eff;
}
/* *****nav ******** */
.nav {
  display: flex;
  justify-content: space-between;
}
/* ***********nav left style***********
************************************ */
.nav-left {
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;
}
.nav-title {
  color: white;
  padding-top: 5px;
}

/* ****************nav right style*******
*************************************** */
.nav-right {
  display: flex;
  gap: 30px;
  margin-right: 40px;
  margin-top: 20px;
}
.menu,
a {
  padding-top: 12px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.img-1 {
  width: 40px;
  height: 50px;
}
/* *****************section 1 style**********
***************************************** */
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 679px;
  background: #ffffff;
  margin-left: 260px;
  margin-top: 50px;
  border-radius: 10px;
}
.title {
  color: #562eff;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 10px;
}
.player-img {
  width: 56px;
  height: 56px;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  grid-row-gap: 50px;
  margin-bottom: 280px;
  margin-left: 15px;
}
.player {
  display: flex;
}
.player-name {
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.line {
  border: 1px solid #d1d1d1;
  width: 750px;
  position: absolute;
}
